.site-header {
	height: 90px;
	width: 100%;
	background-color: $main-color;

	&__logo {
		position: absolute;
		color: white;
	}

	&__logo-text {
		font-weight: 100;
		font-size: 48px;
		padding: 20px 0px;
	}
}